<Files ~ "^\.ht">
deny from all
</Files>

# Redirect
Redirect permanent /https://lab.dolice.net/blog/2014/03/11/ios-illustration-wallpaper-en/ https://lab.dolice.net/
Redirect permanent /https://lab.dolice.net/blog/2014/03/11/ios-illustration-wallpaper-ja/ https://lab.dolice.net/
