/*
Syntax error: Invalid CSS after "...ial, sans-serif": expected "{", was "; font-weight: ..."
        on line 4 of /Users/dolice/Dropbox/Workspace/lab/octopress/sass/base/_layout.scss
        from line 3 of /Users/dolice/Dropbox/Workspace/lab/octopress/sass/_base.scss
        from line 5 of /Users/dolice/Dropbox/Workspace/lab/octopress/sass/screen.scss

1: /Users/dolice/Dropbox/Workspace/lab/octopress/sass/screen.scss

Backtrace:
/Users/dolice/Dropbox/Workspace/lab/octopress/sass/base/_layout.scss:4
/Users/dolice/Dropbox/Workspace/lab/octopress/sass/_base.scss:3
/Users/dolice/Dropbox/Workspace/lab/octopress/sass/screen.scss:5
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:951:in `tok!'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:461:in `block'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:518:in `block in declaration_or_ruleset'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:994:in `call'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:994:in `rethrow'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:481:in `block_child'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:470:in `block_contents'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:462:in `block'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:480:in `block_child'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:58:in `stylesheet'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:27:in `parse'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:259:in `to_tree'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/bin/compass:19:in `load'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/bin/compass:19:in `<main>'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/bin/ruby_noexec_wrapper:14:in `eval'
/Users/dolice/.rvm/gems/ruby-1.9.3-p429/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ial, sans-serif\": expected \"{\", was \"; font-weight: ...\"\A         on line 4 of /Users/dolice/Dropbox/Workspace/lab/octopress/sass/base/_layout.scss\A         from line 3 of /Users/dolice/Dropbox/Workspace/lab/octopress/sass/_base.scss\A         from line 5 of /Users/dolice/Dropbox/Workspace/lab/octopress/sass/screen.scss\A \A 1: /Users/dolice/Dropbox/Workspace/lab/octopress/sass/screen.scss"; }
